.gallery
    padding-top: 12vh
    background-image: url(../img/chefs-bg.jpg)
    height: 120vh
    h1
        font-family: statit
        span
            color: #ffb03b
            font-family: statit
@media (max-width:430px)
    .gallery
        height: 320vh
        display: flex
        flex-direction: column
        padding: 0
    .gallery .all-cards
        flex-direction: column
        // margin-top: 200px
        
        gap: 70px
        width: 80%
        .card img
            width: 350px
   
