.section6 h1
    font-family: statit
    font-size: 35px
    span
        font-family: statit
        color: #da9734
.section6 p
    color: grey
.section6
    padding-top: 40px
    text-align: center
    .sec6-imgs
        padding: 10px
        .row-img
            display: flex
            flex-direction: row
            gap: 5px
            padding-bottom: 5px
            justify-content: center
            overflow: hidden
            position: relative
            .zoom-img
                width: 25vw
                overflow: hidden
                position: relative
                transition: 0.3s
            img
                width: 100%
                &:hover
                    transform: scale(1.05)
            
        
    