.section1
    display: flex
    flex-direction: column
    align-items: center
    gap: 9px
    h1
        text-align: center
        font-family: "Satisfy", cursive
        font-weight: 400
        font-style: normal
        color: white
        .span1
            color: #da9734
            font-family: "Satisfy", cursive
            font-weight: 400
            font-style: normal
    .section1-btns
        display: flex
        gap: 20px
        .sec1-btn
            border: 2px solid #da9734
            padding: 5px 17px
            border-radius: 20px
            background: #ffffff00
            color: white
        .sec1-btn:hover
            background-color: #da9734
            
    p
        text-align: center
        font-weight: bold
        color: white
.section1 .section1-text
    display: flex
    flex-direction: column
    gap: 13px