.section3
    display: flex
    flex-direction: column
    padding-top: 40px
    gap: 20px
    .div-sec3
        display: flex
        flex-direction: column
        align-items: center
        h1
            font-family: statit
            font-weight: bold
            font-size: 32px
            .span-sec3
                font-family: statit
                color: #da9734
        p
            text-align: center
            color: grey
    .cards-sec3
        display: flex
        justify-content: space-evenly
.section3 .cards-sec3 .card-sec3
    background-color: white
    border: 2px solid white
    display: flex
    flex-direction: column
    // padding: 30px 20px 1px
    padding-inline: 40px
    gap: 13px
    box-shadow: 0 7px 8px 0 rgb(0,0,0,0.19)
    h5
        font-weight: bold
        font-size: 30px
        color: #da9734
        padding-top: 50px
    h4
        font-family: statit
        font-weight: bold
    p
        color: grey
    &:hover
        background-color: #da9734
        color: white
        h5
            color: white
            padding-top: 30px
            transition: 0.5s
        p
            color: white
@media (max-width:430px)
    .section3 .cards-sec3
        display: flex
        flex-direction: column
